:root {
    --lightest: #F2F2F2;
    --orange-light: #FC8E83;
    --orange-dark: #F22727;
    --orange-dark2: #F24C27;
    --orange-dark3: #F26619;
    --darkest: #0b1531;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(20deg, rgba(2,0,36,1) 14%, rgba(27,42,89,1) 59%, rgba(39,50,115,1) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 700px;
}

.form-box {
    background: white;
    padding: 27px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    text-align: center;
}



#calendar {
    margin-top: 20px;
    background: var(--lightest);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#calendar .fc {
    font-family: inherit;
}

#calendar .fc-header-toolbar {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.1em;
}

#calendar .fc-button {
    color: white !important;
    background-color: var(--orange-dark3) !important;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    padding: 5px 10px;
}

#calendar .fc-button:hover {
    background-color: var(--orange-dark2) !important;
}

#calendar .fc-button-primary:not(:disabled).fc-button-active,
#calendar .fc-button-primary:not(:disabled):active {
    background-color: var(--orange-dark) !important;
}

#calendar .fc-toolbar-title {
    font-weight: bold;
    font-size: 1.5em;
}

#calendar .fc-col-header-cell-cushion,
#calendar .fc-daygrid-day-number {
    font-weight: bold;
    color: var(--orange-dark3);
}

#calendar .fc-event {
    font-size: 0.9em;
    padding: 2px 4px;
    border-radius: 5px;
}

#calendar .fc-scroller::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#calendar .fc-scroller {
    scrollbar-width: none;
    -ms-overflow-style: none;
}


#calendar .fc-daygrid-event {
    white-space: normal !important;
    overflow: visible !important;
    text-overflow: unset !important;
    font-size: 0.85em;
    line-height: 1.2;
    padding: 1px 2px;
}


#calendar .fc-daygrid-day-frame {
    min-height: 70px;
}


#calendar .fc-event {
    background-color: var(--orange-dark3);
    color: white;
    font-weight: bold;
    border: none;
}
