


{% block content %}



<nav id="menu">
    <img id="logo" src="{{ asset('images/gefor_vect2.png') }}" alt="logo-gefor">
    <ul id="menu-list">
        <li class="main"><a href="index.php" class="links"><i class="fa-solid fa-house"></i> Acceuil</a></li>
        <li class="menu-item-2"><a href="page2.php" class="links"><i class="fa-solid fa-file-signature"></i> Emargement</a></li>
        <li class="menu-item-3"><a href="page3.php" class="links"><i class="fa-solid fa-phone"></i> Contacter</a></li>
        <li class="profil"><a  href="profil.php"class="links"><i class="fa-solid fa-user"></i> Profil</a></li>
    </ul>

</nav>
{% endblock %}