


{% block content %}

<link rel="stylesheet" href="{{ asset('CSS/menu.css') }}">

<nav id="menu">
    <img id="logo" src="{{ asset('images/gefor_vect2.png') }}" alt="logo-gefor">
    <ul id="menu-list">
        <li class="main"><a href="index.php" class="links"><i class="fa-solid fa-house"></i> Acceuil</a></li>
        <li class="menu-item-2"><a href="page2.php" class="links"><i class="fa-solid fa-file-signature"></i> Emargement</a></li>
        <li class="menu-item-3"><a href="page3.php" class="links"><i class="fa-solid fa-phone"></i> Contacter</a></li>
        <div class="user-profile">
            <a href="{{ path('profil_route') }}">
                <img src="{{ asset('images/photo_profil.png') }}" alt="Profil" class="profile-pic">
            </a>
        </div>

    </ul>

</nav>
{% endblock %}